.header {
  background-color: #8fe1ff;
  height: 100px;
}

.header .header-top {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .header-top .header-menue {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header .header-top .header-menue ul {
  list-style: none;
  float: right;
}

.header .header-top .header-menue ul li {
  width: 100px;
  text-align: center;
  display: inline-block;
}

.header .header-top .header-menue ul li a {
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.header .header-top .header-menue ul li a:hover {
  color: rgba(0, 0, 0, 0.296);
}

.auth-container {
  background-color: #F4FBFE;
  height: 750px;
}

.auth-container .login-main {
  height: 150px;
}

.auth-container .login-main h1 {
  text-align: center;
  padding-top: 100px;
}

.auth-form-box {
  background-color: rgba(143, 225, 255, 0.644);
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.auth-form-box .auth-form-start {
  width: 90%;
  margin: 0 auto;
}

html {
  font-family: "M PLUS 1p";
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

